/* Header and global styles */
:root {
  --font-family: "Dosis", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}

.gradient__bg {
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    circle at 3% 25%,
    rgba(0, 40, 83, 1) 0%,
    rgba(4, 12, 24, 1) 25%
  );
}

.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  min-height: 95vh;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  min-height: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

header h1 {
  font-size: 3rem;
  font-weight: 400;
}

header span {
  color: var(--color-subtext);
}

header a {
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

nav a {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 300;
}

nav a:hover {
  border-bottom: 1px solid #ff8a71;
}

/* Blog route */
.posts-route {
  width: 100%;
  display: flex;
  min-height: 85vh;
}

.posts-list {
  max-width: 100%;
}

.posts-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.posts-list h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.posts-list li {
  font-size: 1.2rem;
  list-style: none;
  margin: .5rem;
}

.posts-list a {
  text-decoration: none;
  color: var(--color-subtext);
}

.side-posts-list {
  width: 25%;
  display: flex;
  flex-direction: column;
  line-height: 3;
  border-right: solid 1px var(--color-bg);
  background-color: var(--color-blog);
}

@media (max-width: 650px) {
  /* .side-posts-list {
    display: none;
  }
  .posts-list {
    width: 100%;
  } */
  .posts-route {
    flex-direction: column;
  }
  .side-posts-list {
    width: 100%;
  }
  .side-posts-list a {
    display: none;
  }
}

.side-posts-list ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
}

.side-post-list a {
  border: solid 1px var(--color-text);
  padding: 0.5rem;
}

.side-post-list a {
  text-decoration: none;
  color: var(--color-text);
}

.side-post-list a:hover {
  color: var(--color-subtext);
  background-color: var(--color-bg);
}

.card {
  width: 10rem;
  border: 1px solid var(--color-text);
  padding: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card h2 {
  font-size: 2rem;
  font-weight: 400;
}

.bottom-side {
  width: 70%;
}

.post-photo {
  max-width: 100%;
  border-radius: 5px;
}

.top-side {
  max-width: 100%;
}

/* Buttons */

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
}

.buttons a:hover {
  color: #e5383b;
  border-bottom: 1px solid #e5383b;
}

/* Admin Page */

.admin-page {
  max-width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-list h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
}

.admin-post-list p {
  font-size: 2rem;
  font-weight: 300;
}

.admin-post-list li {
  list-style: none;
}

.admin-post-list a {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
  color: #60935d;
}

/* Form control */

.new-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1rem;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1rem;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 1rem;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: vertical;
}

@media (min-width: 700px) {
  .new-input {
    width: 40rem;
  }
}

label {
  font-size: 1.5rem;
}

input {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

textarea {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.btn {
  display: inline-block;
  background-color: var(--color-text);
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: inherit;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.btn:hover {
  background-color: var(--color-footer);
  color: var(--color-subtext);
  border-color: #f5f3f4;
}

/* $Slug */
.slug-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 65vh;
  justify-content: center;
  align-items: center;
}

.slug {
  width: 80%;
  justify-content: space-around;
  margin-top: 1rem;
  line-height: 2;
}

.postDisplayPhoto {
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  display: inline-block;
}

.editor-section {
  display: flex;
}

.editor-info {
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin-left: 1rem;
}

/* Front page */

.front-page {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.front-page h1 {
  font-size: 3rem;
  font-weight: 400;
}

.searchBar {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.posts-searchBar {
  max-width: 80%;
  justify-self: center;
  align-self: center;
  margin-top: 3rem;
}

.search-post-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-self: flex-start;
}


/* Auth pages */
.login-page {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additionalLinks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.additionalLinks a {
  margin: 1rem;
}

.navLogoutButton {
  color: white;
  text-decoration: none;
}

.navLogoutButton:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navLogoutButton{
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
}

/* Contact page */
.contact-page {
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-page h1 {
  font-size: 4rem;
  font-weight: 400;
  display: inline-block;
}

